body, h1, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  h1 {
    color: #3498db; 
    padding: 20px 0;
    padding: 20px 0;
    padding: 20px 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline-block;
    margin: 10px;
  }
  

  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  